IF DB_ID('BD_Fexi2') IS NULL
    CREATE DATABASE BD_Fexi2
GO

USE [BD_Fexi2]
GO
/****** Objeto: Table [dbo].[Credenciales] Fecha de script: 7/10/2026 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credenciales](
	[IdCredencial] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Credenciales] PRIMARY KEY CLUSTERED 
(
	[IdCredencial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Generos] Fecha de script: 7/10/2026 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Generos] PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TiposUsuario] Fecha de script: 7/10/2026 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposUsuario](
	[IdTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TiposUsuario] PRIMARY KEY CLUSTERED 
(
	[IdTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 7/10/2026 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Dni] [varchar](20) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NOT NULL,
	[IdGenero] [int] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[IdTipoUsuario] [int] NOT NULL,
	[PrimerIngreso] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Credenciales] ON 

INSERT [dbo].[Credenciales] ([IdCredencial], [IdUsuario], [NombreUsuario], [Contrasena]) VALUES (1, 1, N'admin001', N'admin123')
INSERT [dbo].[Credenciales] ([IdCredencial], [IdUsuario], [NombreUsuario], [Contrasena]) VALUES (2, 2, N'empleado001', N'1234')
SET IDENTITY_INSERT [dbo].[Credenciales] OFF
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([IdGenero], [Nombre]) VALUES (1, N'Masculino')
INSERT [dbo].[Generos] ([IdGenero], [Nombre]) VALUES (2, N'Femenino')
INSERT [dbo].[Generos] ([IdGenero], [Nombre]) VALUES (3, N'Otro')
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposUsuario] ON 

INSERT [dbo].[TiposUsuario] ([IdTipoUsuario], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[TiposUsuario] ([IdTipoUsuario], [Nombre]) VALUES (2, N'Empleado')
SET IDENTITY_INSERT [dbo].[TiposUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Dni], [Telefono], [Email], [IdGenero], [FechaNacimiento], [IdTipoUsuario], [PrimerIngreso]) VALUES (1, N'Administrador', N'Sistema', N'12345678', N'1123456789', N'admin@fexi.com', 1, CAST(N'1990-05-20' AS Date), 1, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Dni], [Telefono], [Email], [IdGenero], [FechaNacimiento], [IdTipoUsuario], [PrimerIngreso]) VALUES (2, N'Juan', N'Perez', N'30123456', N'1198765432', N'juan@gmail.com', 1, CAST(N'1998-08-15' AS Date), 2, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Objeto: Index [IX_Credenciales] Fecha de script: 7/10/2026 12:55:40 ******/
ALTER TABLE [dbo].[Credenciales] ADD  CONSTRAINT [IX_Credenciales] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Credenciales]  WITH CHECK ADD  CONSTRAINT [FK_Credenciales_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Credenciales] CHECK CONSTRAINT [FK_Credenciales_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Generos] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Generos] ([IdGenero])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Generos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_TiposUsuario] FOREIGN KEY([IdTipoUsuario])
REFERENCES [dbo].[TiposUsuario] ([IdTipoUsuario])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_TiposUsuario]
GO
